
@{
    // Layout = null;        // ako komentarisemo ovu liniju, to ce aktivirati koristenje default layouta na ovom view-u
    ViewBag.Title = "Početna";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Studentska sluzba</h1>
        <a href="/ModulStudentskaSluzba/Student">Upravljanje studentima</a>
    </div>
</body>
</html>